* {
  box-sizing: border-box;
}

body {
  font-family: 'Sunflower', sans-serif;
}

.fixedHeaderContainer {
  background: #1c618c;
  border-bottom: solid 1px #0e4961;
}

.navigationSlider .slidingNav ul li a {
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 15px;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  background: #3874a5;
}

.homeContainer {
  background: #000c0e url(/img/water_bg.jpg) no-repeat bottom;
  background-size: cover;
  position: relative;
}

.homeContainer .homeWrapper {
  padding-bottom: 70px;
}

.homeContainerBG {
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.projectTitle {
  color: #fff;
  font-size: 62px;
  line-height: 72px;
}

.projectTitle .subtitle {
  max-width: 800px;
  margin: 1.5em auto 1.5em;
  line-height: 1.2em;
  font-size: 50%;
}

.promoSection {
  margin-top: 20px;
}

.promoRow .buttonWrapper {
    margin: 0 15px;
}

.promoRow .button {
  padding: 12px 36px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  background-color: rgb(56, 82, 102);
  color: #fff;
  font-size: 1.5em;
  white-space: nowrap;
  text-transform: none;
}

.promoRow .button.highlight {
  background-color: rgba(255, 0, 34, 0.9);
}

.promoRow .button:hover {
  background-color: rgba(56, 82, 102, 0.8);
}

.promoRow .button.highlight:hover {
  background-color: rgb(255, 36, 83, 0.9);
}

.mainContainer h2 {
  color: #142e42;
  font-size: 50px;
  line-height: 1em;
  margin: 0 0 30px;
  text-align: center;
  padding: 30px 0 10px;
}

.frameworksRoot {
  background: #fff;
  border-top: solid 2px #4c93fd;
  border-bottom: dashed 2px #adadad;
  padding: 30px 40px 60px;
}

.frameworks {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.frameworkTitle {
  color: #888;
  height: 81px;
  line-height: 81px;
  font-size: 2em;
  margin-right: 30px;
  text-transform: uppercase;
}

.solutions {
  text-align: center;
  background: rgb(228, 228, 228);
  padding: 20px 40px 50px;
}

.solutions h2 {
  font-size: 5em;
  font-weight: 800;
}

.solutions .subtitle {
  font-size: 2em;
  padding: 0 40px;
  text-align: center;
  display: inline-block;
  max-width: 1000px;
  margin-bottom: 50px;
}

.solutions .container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.solutions .item {
  width: 50%;
  padding: 20px;
}

.solutions .card {
  width: 100%;
  border-radius: 10px;
  border: solid 0px #bdc8cf;
  background: #fff;
}

.solutions .card .colored {
  position: relative;
  border-radius: 10px 10px 0 0;
  text-align: center;
  overflow: hidden;
}

.solutions .card h3 {
  color: #fff;
  font-size: 2em;
  border-radius: 10px 10px 0 0;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.solutions .card .image {
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 20px;
  background: #fff;
  padding-top: 40px;
  transition: all 0.3s ease;
  opacity: 1;
  transform: scale(1, 1) rotate(0deg);
}

.solutions .card:hover .image {
  opacity: 0;
  transform: scale(1.5, 1.5) rotate(720deg);
}

.solutions .card img {
  width: 100px;
}

.solutions .card .features {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 60px;
  text-align: center;
  color: #fff;
  padding: 20px;
  font-size: 1.3em;
  transition: all 0.2s ease;
  transform: scale(0.8, 0.8);
}

.solutions .card:hover .features {
  transform: scale(1, 1);
  opacity: 1;
}

.solutions .card .desc {
  position: relative;
  height: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutions .card .desc p {
  position: absolute;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0.2s ease;
}

.solutions .card .desc .buttons {
  position: absolute;
  opacity: 0;
  transform: translate3d(0px, 30px, 0px);
  transition: all 0.2s ease;
}

.solutions .card .desc .buttons a {
  transition: all 0.2s ease;
  display: inline-block;
  width: 180px;
  height: 40px;
  padding-top: 7px;
  margin: 5px 15px;
  border: solid 2px #83a7c2;
  color: #5e83a0;
  border-radius: 10px;
}

.solutions .card:hover .desc p {
  position: absolute;
  opacity: 0;
  transform: translate3d(0px, -30px, 0px);
}

.solutions .card:hover .desc .buttons {
  position: absolute;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.solutions .card p {
  display: block;
  font-size: 1.5em;
}

footer.nav-footer {
  background: #00171d;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .solutions .item {
    width: 33.3%;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 735px) {
  .navigationSlider .slidingNav ul li a {
    border-radius: 0;
    margin-left: 0;
  }
  .solutions .item {
    width: 100%;
  }
}
