body {
  font-family: 'Sunflower', sans-serif;
}

.fixedHeaderContainer {
  background: #001d24;
  border-bottom: solid 1px #032d36;
}

.navigationSlider .slidingNav ul li a {
  font-size: 1.2em;
  font-weight: 300;
  color: #fff;
  border-radius: 5px;
  margin-left: 5px;
}

.homeContainer {
  background: -webkit-linear-gradient(top, #000c0e 0%,#123f5d 100%);
  position: relative;
}

.homeContainer .homeWrapper {
  padding-bottom: 70px;
}

.homeContainerBG {
  background: #000c0e url(/img/water_bg.jpg) no-repeat bottom;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.projectTitle {
  color: #fff;
  font-size: 62px;
  line-height: 72px;
}

.projectTitle .subtitle {
  max-width: 680px;
  margin: 1.5em auto 1.5em;
  line-height: 1.2em;
  font-size: 40%;
}

.promoSection {
  margin-top: 20px;
}

.promoRow .buttonWrapper {
    margin: 0 15px;
}

.promoRow .button {
  padding: 12px 16px;
  border: solid 2px rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  width: 180px;
  font-size: 1.2em;
  white-space: nowrap;
  text-transform: none;
}

.promoRow .button.highlight {
  background-color: rgba(255, 0, 50, 0.8);
}

.promoRow .button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.promoRow .button.highlight:hover {
  background-color: rgba(90, 0, 20, 0.7);
}

.mainContainer {
}

.mainContainer h2 {
  color: #142e42;
  font-size: 50px;
  line-height: 1em;
  margin: 0 0 30px;
  text-align: center;
  padding: 30px 0 10px;
}

.frameworksRoot {
  background: #fff;
  border-bottom: dashed 2px #e5eaee;
  padding-bottom: 40px;
}

.frameworks {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.frameworkTitle {
  color: #888;
  height: 81px;
  line-height: 81px;
  font-size: 1em;
  margin-right: 30px;
  text-transform: uppercase;
}

.whatIsSaasless {
  color: #fff;
  background: rgb(88, 110, 133) url(/img/pc_bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.whatIsSaaslessBG {
  background: rgba(88, 110, 133, 0.89);
  padding: 20px 0 40px;
}

.whatIsSaasless h2 {
  font-size: 3.5em;
  color: #fff;
}

.whatIsSaasless p {
  font-size: 1.5em;
  padding: 20px 10%;
  text-align: center;
  display: inline-block;
  max-width: 800px;
}


.solutions {
  text-align: center;
}

.solutions .subtitle {
  font-size: 1.5em;
  padding: 0 10%;
  text-align: center;
  display: inline-block;
  max-width: 800px;
}

footer.nav-footer {
  background: #00171d;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media only screen and (max-width: 735px) {
  .navigationSlider .slidingNav ul li a {
    border-radius: 0;
    margin-left: 0;
  }
}
